/* Body and tag level */ 

body {
    margin: 0px;
}

p {
    font-size: 18px;
    line-height: 25px;
}

img {
    float:left;
    margin: 15px;
    height: 210px;
    width:220px;
}

a {
    text-decoration: none;
    color: #777777;
}

a:hover {
    color: #4aaaa5;
}

label {
    margin:15px 15px 5px 15px;
    color: #777777;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

#nav, #content {
    width:960px;
    margin: 0 auto;
}

form {
    display: flex;
    flex-direction: column;
}

/* Nav Bar */ 

#nav {
    height:75px;
    background-color: white;
    width:100%;
    padding-top: 3px;
    border-bottom: 2px solid rgba(0, 0, 0, .2);
}

.nav-content {
    width:960px;
    margin: 0 auto;
}

.nav-name {
    float: left;
    display: inline-block;
    background-color:#4aaaa5;
    padding: 19px 15px 20px 15px;
    margin: 0;
    color: #ffffff;
    font-family: 'Georgia', Times, Times New Roman, serif;
}

.nav-links {
    float: right;
    display: inline-flex;
    list-style-type: none;
    margin-top:7px;
}

.nav-links > li {
    padding: 20px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
}

.nav-links > hr {
    opacity: .3;
    border-left:1px solid grey;
}

/* Content Section */ 

#content {
    margin-bottom: 100px;
    margin-top: 25px;
    background-color: white;
    padding-bottom: 15px;
    border: 1px solid #dddddd;
}

.section-label {
    color: #4aaaa5;
    margin-left: 15px;
    font-size: 30px;
    font-family: 'Georgia', Times, Times New Roman, serif;
}

.big-line {
    margin: 0px 15px 0px 15px;
}

#content > p {
    margin:15px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
}

/* Footer section */ 

#bar {
    height: 10px;
    width: 100%;
    background-color: #4aaaa5;
    position: fixed;
    left: 0;
    bottom: 75px;
}

#footer {
    text-align: center;
    color: white;
    background-color: #666666;
    height: 75px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

#footer > p {
    margin: 0px;
    padding-top: 49px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 10px;
}

/* Contact content */

#name-input {
    margin:0px 15px 0px 15px;
    height: 30px;
    padding-left: 5px;
}

#email-input {
    margin:0px 15px 0px 15px;
    height: 30px;
    padding-left: 5px;
}

#submit-button {
    width: 100px;
    height: 30px;
    margin: 15px 0px 0px 15px;    
    background-color: #4aaaa5;
    color: white;
    border: 0;
}

#submit-button:hover {
    background-color: #4e8684;
}

#textarea {
    margin:0px 15px 0px 15px;
    border:1px solid rgba(0, 0, 0, .15);
}

/* Portfolio page */
.text-block {
    width: 220px;
    height: 40px;
    background-color:#4aaaa5;
    display: flex;
    align-items: center;
    justify-content: center;
}

.text-block > p {
    color:white;
    text-align:center;
    vertical-align: middle;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

.container {
    position:relative;
}

/* media queries */
@media screen and (max-width: 980px){
    #content {
        width: 66%;
        margin: 21px 40px 100px 61px;
        background-color: white;
        padding-bottom: 15px;
        border: 1px solid #dddddd;
    }

    .nav-name {
        margin-left: 52px;
        margin-top: 0;
    }

    .nav-links {
        ght: 40px;
    }
}

@media screen and (max-width: 768px){
    #nav {
        width: 120%;
    }
    #content {
        width: 882px;
        margin-left: 20px;
    }
    .nav-links {
        margin-right: 66px;
    }

    .nav-name {
        margin-left: 22px;
    }
}
@media screen and (max-width: 640px){
    .nav-name {
        margin-left: 0;
        width: 100%;
        padding-bottom: 23px;
    }
    .nav-links {
        width: 100%;
        font-size: 1.5em;
        margin-right: 0px;
        justify-content:center;
    }
    .title-container {
        width:100%;
        display: flex;
    }
    .nav-name {
        font-size: 3.5em;
        display:flex;
        justify-content: center;
    }
    #nav {
        padding-top: 0px; 
        padding-bottom:115px;
        width: 100%
        }
    .nav-content {
        width:100%;
    }
    #content {
        margin-top: 20px;
        width: 93%;        
    }
    hr {
        margin:2px;
    }
    .headshot {
        width: 550px;
        height:500px;
        margin-left: 21px;
    }
}